<tr>
	<td style='padding-top: 0; padding-bottom: 0; padding-right: 0; padding-left: 0' align='full' valign='top'>
		<table width='100%' cellspacing='0' cellpadding='0' border='0' align='left'>
			<tbody>
				<tr>
					<td valign='top' align='left'>

						{{#paragraph}}
							Greetings,
						{{/paragraph}}

						{{#paragraph}}
							{{companyName}}
							Team
							{{bold ':)'}}
						{{/paragraph}}

						{{space 30}}

						{{#paragraph font-size='10px' line-height='20px'}}
							This email and any attachments are intended exclusively for the named recipient and may contain confidential or privileged information. If you are not the intended recipient, please
							notify the sender immediately and delete this email. Any review, dissemination, or other use by persons or entities other than the intended recipient is prohibited. Thank you,
							{{companyName}}.
						{{/paragraph}}
					</td>
				</tr>
			</tbody>
		</table>
	</td>

</tr>