<tr>
	<td style='padding-top: 0; padding-bottom: 0; padding-right: 0; padding-left: 0' align='full' valign='top'>
		<span style='border: 0; border-radius: 16px; vertical-align: top; margin: 0'><img
				width='250'
				height='auto'
				style='
                    width: 250px;
                    height: auto;
                    max-width: 1750px !important;
                    border-radius: 16px;
                    display: block;
                '
				alt='{{companyName}} Logo'
				src='{{companyLogoUrl}}'
				class='m_450139208857676296mceImage CToWUd'
				data-bit='iit'
			/>
		</span>
	</td>

</tr>