<html xmlns='https://www.w3.org/1999/xhtml' xmlns:v='urn:schemas-microsoft-com:vml' xmlns:o='urn:schemas-microsoft-com:office:office'>
	<head>
		<title>Incan Electric </title>
		<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0 ' />
		<meta name='format-detection' content='telephone=no' />
		<meta http-equiv='Content-Security-Policy' content="connect-src * 'unsafe-inline'; font-src 'self' data:;" />
		<meta name='color-scheme' content='light dark' />
		<meta name='supported-color-schemes' content='light dark' />
	</head>
	
	{{!-- <style>
		.paragraph{
			font-size: 16px;
		}

		@media screen and (min-width: 768px) {
			.paragraph{
				font-size: 18px;
			}
		}

		@media (prefers-color-scheme: dark) {
			.paragraph{
				color: #fff;
			}
		}

	</style> --}}

	<body>
		<div style='margin:0px; padding:0px;'>
			<center>
				<table border='0' cellpadding='0' cellspacing='0' height='100%' width='100%' style='background-color: rgb(255, 255, 255)'>
					<tbody>
						<tr>
							<td align='center' valign='top'>
								<table border='0' cellpadding='0' cellspacing='0' width='100%'>
									<tbody>
										<tr>
											<td align='center' valign='top'>
												<table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 660px' role='presentation'>
													<tbody>
														<tr>
															<td
																style='
																	background-color: #ffffff;
																	background-position: center;
																	background-repeat: no-repeat;
																	background-size: cover;
																'
																valign='top'
															>
																<table align='center' border='0' cellpadding='0' cellspacing='0' width='100%' role='presentation'>
																	<tbody>
																		<tr>
																			<td
																				style='
																					background-position: center;
																					background-repeat: no-repeat;
																					background-size: cover;
																				'
																				valign='top'
																			>
																				<table border='0' cellpadding='0' cellspacing='0' width='100%' role='presentation'>
																					<tbody>
																						<tr>
																							<td
																								style='
																									background-color: #FDFCFB;
																									padding-top: 60px;
																									padding-right: 60px;
																									padding-bottom: 60px;
																									padding-left: 60px;
																								'
																								valign='top'
																								colspan='12'
																								width='100%'
																							>
																								<table border='0' cellpadding='0' cellspacing='0' width='100%' role='presentation'>
																									<tbody>
																										{{> header}}

																										{{> spacer height="40px"}}

																										{{> @partial-block}}

																										{{> spacer height="40px"}}
																										
																										{{> footer}} 
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</center>

		</div>

	</body>

</html>